.venv/
.pytest_cache/
__pycache__/
*.py[cod]
.DS_Store
datasets/
database/*.sqlite3
data/raw/*
data/processed/*
models/*.joblib
static/uploads/
reports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!reports/.gitkeep
